/**
 * 页面样式布局
 */
html, body {
    height: 100%;
}
body, html {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    font-family: 'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    color: #777;
    font-size: 13px;
    background-color: #f7f7f7;
}

a:link, a:visited {
    text-decoration: none;
    color: #30a8d9;
}

/*
===================
清除浮动开始
* cc 作用于父模型
* c 作用于浮动模型后，父模型区域里
===================
*/
.cc{
    zoom:1;
}
.cc:after{
    content:'\20';
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}
.c{
    clear:both;
    height:0;
    font:0/0 Arial;
    overflow:hidden;
    width:0;
}
/*清除浮动结束*/

/*大小写设置*/
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform:uppercase;
}
.lowercase{
    text-transform: lowercase;
}
/*大小写设置结束*/

/*输入框长度开始 长度以100像素递增*/
.input-leng1{
    width: 100px;
}

.input-leng2{
    width: 200px;
}

.input-leng3{
    width: 300px;
}

.input-leng4{
    width: 400px;
}

.input-leng5{
    width: 500px;
}
/*输入长度结束*/

/*多行输入框开始*/
.form-textarea{
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 6px 8px;
}
/*多行输入框结束*/

/*下拉框开始*/
.form-select{
    height: 100;
    width: 300px;
}
/*下拉框结束*/

/*单选按钮开始*/
.form-radio-label{
    min-height: 1px;
}
.form-radio{
    margin-right: 6px;
}
/*单选按钮结束*/

/*复选框开始*/
.form-checkbox-label{
    /*display: block;*/
    min-height: 1px;
}
.form-checkbox{
    /*float: left;*/
    margin-right: 6px;
}
.form-checkbox-label span{
    /*float: left;*/
    /*margin-bottom: 16px;*/
}
/*复选框结束*/


/*各种预设的按钮开始*/

.blue-button, .red-button, .yellow-button, .green-button, .white-button{
    font-family: "Helvetica Neue",helvetica,sans-serif;
    font-weight: bold;
    text-decoration: none !important;
    outline: 0;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 12px;
    line-height: 12px;
    padding: 7px 12px 8px 12px;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.blue-button{
    color: #fff !important;
    text-shadow: 0 1px 0 #046699;
    border: 1px solid #046699;
    background-color: #30a8d9;  
    -webkit-box-shadow: inset 0 1px 0 #92c6e2;
    box-shadow: inset 0 1px 0 #30a8d9;
}
.blue-button:hover{
    background-color: #3daddb;
}
.red-button{
    color: #fff !important;
    text-shadow: 0 1px 0 #AF363C;
    border: 1px solid #AF363C;
    background-color: #FD4850;  
    -webkit-box-shadow: inset 0 1px 0 #FD4850;
    box-shadow: inset 0 1px 0 #FD4850;
}
.red-button:hover{
    background-color: #FF6168;
}

.yellow-button{
    color: #444 !important;
    text-shadow: 0 1px 0 #ECE200;
    border: 1px solid #9B9515;
    background-color: #ECE200;  
    -webkit-box-shadow: inset 0 1px 0 #ECE200;
    box-shadow: inset 0 1px 0 #ECE200; 
}
.yellow-button:hover{
    background-color: #F7EC00;
}
.green-button{
    color: #fff !important;
    text-shadow: 0 1px 0 #578529;
    border: 1px solid #578529;
    background-color: #84bf5d;  
    -webkit-box-shadow: inset 0 1px 0 #84bf5d;
    box-shadow: inset 0 1px 0 #84bf5d;    
}
.green-button:hover{
    background-color: #9BCA7B;
}
.white-button{
    color: #777 !important;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #c4c4c4;
    background-color: #fff;  
    -webkit-box-shadow: inset 0 1px 0 #c4c4c4;
    box-shadow: inset 0 1px 0 #fff;  
}
.white-button:hover{
    background-color: #F8F8F8;  
}
/*各种预设的按钮结束*/

/*主区开始*/
.warp{

}
.main{
    padding: 20px 20px 20px 30px;
}
.main header{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 47px;
}

.main-title{
    margin: 0;
    font-size: 20px;
    color: #333;
}
.main-title a{
    float: left;
    padding:11px 5px;
    color:#333;
}
.main-title a:hover{
    color:#919191;
    border-bottom:1px solid #919191;
}
.main-title .current, .main-title .current:hover{
    color: #30a8d9;
    border-bottom:1px solid #30a8d9;
}
/*主区结束*/

/*表单开始*/
.form-row{
    margin-top: 20px;
}
.form-title{
    margin-bottom: 4px;
    clear: both;
}
.form-title-label{
    font-size: 13px;
    font-family: "Helvetica Neue",helvetica,sans-serif;
    font-weight: bold;
    color: #333;
}
.form-title-label .red-tips{
    color: #FD000B;
    vertical-align:middle;
}
.form-text{
    margin: 0 0 16px;
}
.form-text-input{
    margin: 0;
    padding: 6px 8px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.form-text-input:focus{
    outline: none;
}
.form-text-input:disabled{
    background-color: #F0F0F0 !important;
}
/*表单结束*/

/*搜索表单开始*/
.main-serach{
    padding: 20px 0;
    /*padding-bottom: 20px;*/
    border-bottom: 1px solid #ddd;
}
.search-input, .list-table input{
    margin: 0;
    padding: 6px 8px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.search-input:focus{
    outline: none;
}
/*搜索表单结束*/

/*列表开始*/
.main-add{
    float: right;
    margin-top: 10px;
}
.list-table{
    margin: 20px 0 35px;
}
.list-table table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 13px;
}
.list-table th, .list-table td{
    padding: 0;
    margin: 0;
}
.list-table table th{
    text-align: left;
    padding: 5px 9px;
    background: #f1f1f1;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #666 !important;
}
.list-table table td{
    padding: 5px 9px;
    text-align: left;
    color: #444;
    border-bottom: 1px solid #f1f1f1;
}
.list-table table tr:hover{
    background-color: #fff;
}
.list-table input{
    width: 50px;
}
/*列表结束*/

/*分页开始*/
.pagebar{
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 12px;
}
.pagebar a,
.pagebar strong,.page_now{
    display:inline-block;
    line-height:28px;
    padding:0 10px;
    border:1px solid #d9d9d9;
    background-color:#ffffff; 
    text-decoration:none;
    color:#666;
    font-family:Simsun;
    -webkit-transition: all 0.2s ease-out;transition: all 0.2s ease-out;
    margin-right:3px;
}
.pagebar a:hover{
    color:#fff;
    background-color:#24557d;
    border-color:#fff;
    text-decoration:none;
}
.pagebar strong, .page_now{
    color:#fff;
    background-color:#24557d;
    border-color:#fff;
}
.pagebar span{
    padding:0 13px;
    line-height:28px;
}
/*分页结束*/

/*底部按钮开始*/
.btn_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
.btn_wrap .btn_wrap_pd {
    padding: 10px 35px 10px;
    background: #eaeaea;
    border-top: 1px solid #d8d8d8;
}
/*底部按钮结束*/

/*提示页开始*/
.tips{
    width: 500px;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: #ccc 0 1px 5px;
    -moz-box-shadow: #ccc 0 1px 5px;
    -o-box-shadow: #ccc 0 1px 5px;
    box-shadow: #ccc 0 1px 5px;
}
.tips h2{
    background: #f9f9f9;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#f4f4f4));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #f4f4f4);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #f4f4f4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0);
    border-bottom: 1px solid #dfdfdf;
    font: bold 14px/40px Arial;
    height: 40px;
    padding: 0 20px;
    color: #666;
    margin: 0px;
}
.tips p{
    padding: 0 20px;
}
/*提示页结束*/


/*
===================
首页系统信息
===================
*/
.home_info{
    padding:5px 10px 20px;
    color:#666;
}
.home_info li{
    line-height:25px;
    zoom:1;
    list-style: none;
}
.home_info li:after{
    content:'\20';
    display:block;
    height:0;
    clear:both;
    visibility: hidden;
}
.home_info li em{
    float:left;
    width:100px;
    font-style:normal;
}
.home_info li span{
    display:block;
    overflow:hidden;
}

/*
===================
图标 导航、版块管理
展开收起、所属
===================
*/
.start_icon,
.away_icon,
.zero_icon,
.plus_icon,
.plus_end_icon{
    background:url(../img/icon_list.png) no-repeat;
    display:inline-block;
    vertical-align:middle;
}
.start_icon,
.away_icon,
.zero_icon,
.plus_none_icon{
    width:20px;
    height:20px;
    overflow:hidden;
    cursor:pointer;
}
.away_icon{
    background-position:0 -20px;
}
.zero_icon{
    background-position:-20px 0;
    cursor:default;
}
.plus_icon,
.plus_end_icon{
    width:40px;
    height:24px;
    background-position:0 -43px;
    margin-right:5px;
}
.plus_end_icon{
    background-position:0 -70px;
}
.plus_on_icon{
    background-position:0 -100px;
    cursor:default;
}
.plus_none_icon{
    background-position:999px 999px;
    cursor:default;
}

/*
===================
模板列表
===================
*/
.design_page{
    padding:0;
}
.design_page li{
    float:left;
    margin-right:10px;
    display:inline;
    box-shadow:0 0 1px rgba(0,0,0,0.1);
    background:#fff;
    margin-bottom:20px;
    border:1px solid;
    border-color:#ecebeb #e1e0e0 #d5d5d5 #e1e0e0;
    width:230px;
    height:340px;
    position:relative;
}
 .use:hover{
    cursor:pointer;
    border:1px solid #30a8d9;
}
.design_page .img{
    display:block;
    padding:10px;
}
.design_page li img{
    display:block;
}
.design_page li .ft{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    background:#f8f8f8;
    border-top:1px solid #eeeeee;
    padding:5px 0;
    border-bottom:1px solid #fff;
}
.design_page li .ft .org{
    padding:0 0 0 10px;
}
.design_page li .ft a{
    color:#666;
    margin:0 0 0 10px;
}
.design_page li .title{
    padding:0 10px 0;
    font-size:14px;
    line-height:18px;
    height:18px;
    overflow:hidden;
    margin-bottom:3px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    word-wrap:normal;
}
.design_page li .descrip{
    padding:0 10px 3px;
    color:#999;
    line-height:18px;
    height:18px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    word-wrap:normal;
} 
.design_page li .type{
    padding:0 10px 8px;
    color:#999;
}
.design_page li .type span{
    margin-right:10px;
}
.design_page .org {
    color: #ff6600 !important;
}
.design_page .fr {
    float: right !important;
    display: inline;
    margin-right:10px;
}