/*---------------页眉---------------*/
.am-topbar .am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background: url('../i/pescms_logo.png') no-repeat left center;
    -webkit-background-size: 49px 49px;
    background-size: 49px 49px;
    padding-left: 51px;
    font: 1.8rem/50px "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
/*---------------banner---------------*/
.pes-banner{
    background: url('../i/lattice.png') left top #f5f5f5;
    overflow-y: hidden;
}
/*---------------侧栏---------------*/
.pes-sidebar{
    width: 250px;
    min-height: 100%;
    float: left;
}

@media only screen and (min-width: 641px) {
    .pes-sidebar {
        display: block;
        position: static;
        background: none;
    }
}

@media only screen and (max-width: 640px) {
    .pes-sidebar {
        width: inherit;
    }

}
.am-nav-header{
    padding: .4em 1em;
    border-width: 3px !important;
    border-left: 3px solid #3bb4f2;
    padding: 0 1em;
    margin-top: .4em;
    margin-bottom: .4em;
}
.pes-ul-sidebar{
    border-right: 1px solid #eeeeee;
}
.pes-ul-sidebar .am-nav-header{
    padding: 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100%;
    border-left: 3px solid #3bb4f2;
    margin-bottom: .4em;

}
.pes-ul-sidebar .am-nav-header a{
    color: #555;
}
.pes-ul-sidebar .am-nav-header a:hover{
    background: none;
}
.pes-ul-sidebar.am-nav>li+li {
    margin-top: 0px !important;
}
/*---------------内容区---------------*/
.pes-content{
    width: auto;
    overflow: hidden;
    height: 100%;
}
ul.pes-ul-content li:first-child{
    border: 0px;
}
ul.pes-ul-content li:last-child{
    border-bottom: 0px;
}
.pes-ul-content img{
    max-width: 650px;
}

.pes-content .am-article .selectTdClass{background-color:#edf5fa !important}
.pes-content .am-article table.noBorderTable td,.pes-content .am-article table.noBorderTable th,.pes-content .am-article table.noBorderTable caption{border:1px dashed #ddd !important}
.pes-content .am-article table{margin-bottom:10px;border-collapse:collapse;display:table;}
.pes-content .am-article td,th{padding: 5px 10px;border: 1px solid #DDD;text-align: inherit !important;}
.pes-content .am-article caption{border:1px dashed #DDD;border-bottom:0;padding:3px;text-align:center;}
.pes-content .am-article th{border-top:1px solid #BBB;background-color:#F7F7F7;}
.pes-content .am-article table tr.firstRow th{border-top-width:2px;}
.pes-content .am-article .ue-table-interlace-color-single{ background-color: #fcfcfc; } 
.pes-content .am-article .ue-table-interlace-color-double{ background-color: #f7faff; }
.pes-content .am-article td p{margin:0;padding:0;}
.content_html h1, h2{margin-top:0}

.pes-content .am-article blockquote ul, .pes-content .am-article blockquote ol{margin-bottom: 0;}
.am-article-bd img{display: inline !important;}
/*---------------页脚---------------*/
.my-footer {
    background: #fff;
    border-top: 1px solid #eeeeee;
    padding: 10px 0;
    text-align: center;
}