/*---------------公用杂项---------------*/
/*白色背景*/
.tm-background-color-white{
    background: #ffffff;
}
/*背景颜色efefef*/
.tm-background-color-efefef{
    background: #EFEFEF;
}
/*移除链接的背景色*/
.tm-remove-a-background-color-hover:hover{
    background: none !important;
}
.tm-float-none{
    float: none !important;
}

/*---------------字体类---------------*/
/*字体加粗*/
.tm-text-font-weight{
    font-weight: 600;
}

/*字体颜色*/
.tm-text-color-white{
    color: #ffffff !important;
}

/*at提示中的链接颜色*/
.tm-at-tips-a-color a{
    color: #0e90d2;
}

/*---------------边框类---------------*/
/*移除边框*/
.tm-remove-border{
    border: none;
}
/*左边框*/
.tm-border-left{
    border-left: 1px solid #B1B1B1;
}
/*右边框*/
.tm-border-right{
    border-right: 1px solid #B1B1B1;
}

/*---------------表单类---------------*/
/*输入框颜色*/
.tm-input-background-color{
    background-color:#F9F9F9;
}
/*加强表单验证的显示边框颜色*/
.am-field-error{
    border:1px solid;
}